// @import url('https://codepen.io/GreenSock/pen/ZEGdQLM/7ba936b34824fefdccfe2c6d9f0b740b.css');


html {
  scroll-behavior: smooth;
}

.View {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;


  .View-video {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    .video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .view-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding-block: 40px;
    overflow: hidden;

    .container {
      display: flex;
      // align-items: center;
      flex-direction: column;
      justify-content: center;
      grid-row-gap: 25px;
      height: 100%;
    }

    .view-tittle {
      font-size: 4vw;
      text-transform: uppercase;
      font-weight: 500;
    }

    .view-content {
      font-size: 1.8vw;
      text-transform: uppercase;
      font-weight: 400;
    }

    .view-logo {
      max-width: 250px;
      margin-bottom: 50px;
    }

    .scroll-link {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translateX(-50%);

      .box {
        margin-inline: 15px;
      }

      .box span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
      }

      .box span:nth-child(2) {
        animation-delay: -0.2s;
      }

      .box span:nth-child(3) {
        animation-delay: -0.4s;
      }

      @keyframes animate {

        0% {
          opacity: 0;
          transform: rotate(45deg) translate(-20px, -20px);
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 0;
          transform: rotate(45deg) translate(20px, 20px);
        }
      }
    }

  }
}




.horizontal-layout {
  position: relative;
  display: block;
  height: unset;
}

.first-intro {
  min-height: 100vh;
  display: block;
  width: 100%;
}

.over-lap {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.track {
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  color: #c0bcb9;

  // background: rgb(245, 119, 119);
  &::after {
    content: "swipe now";
    position: absolute;
    inset: auto 0 0;
    z-index: -1;
    font-size: 20vw;
    color: inherit;
    padding-inline: 1.5vw;
  }
}






.panel.align-top {
  align-items: flex-start;
}



// html,
// body {
//   height: 100%;
//   -webkit-overflow-scrolling: touch;
// }

.panel {
  width: 100%;
  height: 100%;
}



.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  // background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  // background-size: contain;
}

.arrow-right {
  transform: rotate(-90deg);
  position: relative;
  top: -4px;
  margin: 1rem auto;
  width: 20px;
  height: 20px;
  // background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  // background-size: contain;
}





.panel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    min-width: 80%;
    min-height: 80%;
    max-width: 80%;
    max-height: 80%;
    padding: 4vw 3vw;
    display: flex;
    align-items: flex-start;
    background: #d2d0ec;
    border-radius: 44px;
    // border: 2px solid #f44;
    border: 3px solid #ffffff;
    position: relative;
    overflow: hidden;
    color: rgb(0, 0, 0);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: none;

  }

  .content {
    width: 45%;

    h1 {
      font-size: 3.8vw;
      font-family: 600;
      margin-bottom: 20px;
    }

    p {
      color: rgba(0, 0, 0, 0.582);
      font-size: 1vw;
      word-spacing: 3px;
      letter-spacing: 1.5px;
      line-height: 1.3;
    }
  }

  .media {
    width: 50%;
    min-height: 100%;
    position: absolute;
    inset: 0 0 0 auto;
    background: #ffffff;
    border-left: 3px solid #ffffff;

    &::after {
      position: absolute;
      inset: 0;
      content: "";
      background: rgba(0, 0, 0, 0.4);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-img {
    position: absolute;
    inset: 0;

    &::after {
      position: absolute;
      inset: 0;
      content: "";
      background: rgba(0, 0, 0, 0.4);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}






.card {
  img {
    height: 400px;
  }
}

.cursor {
  position: absolute;
  background: #004cff;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: scale(0.8);
  backdrop-filter: blur(1px);

  &.active {
    opacity: 1;
    transform: scale(8);
    background: rgb(0 76 255 / 50%);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  }
}

.cursor::before {
  content: "Scroll Me";
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 2px;
  inset: 0;
  display: block;
  border-radius: 100%;
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor.active::before {
  opacity: 1;
}

.cursor-follower {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity,
    0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) background;
  user-select: none;
  pointer-events: none;
  transform: translate(4px, 4px);
}

.cursor-follower.active {
  opacity: 0.3;
  transform: scale(0);
}


.last-intro {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    position: absolute;
    inset: 0;
    content: '';
    background: linear-gradient(-270deg, #000 20%, transparent);
  }

  .intro-content {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
    color: white;
    padding: 5vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 5vw;
      font-weight: 400;
      letter-spacing: 3px;
      margin-bottom: 50px;
      max-width: 50%;

    }

    p {
      font-size: 1.8vw;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 40px;
      max-width: 45%;
      line-height: 1.2;
      color: rgba(255, 255, 255, 0.9);
      max-width: 50%;

    }
  }

}





// AOS Animation

[data-aos="hero-back"] {
  opacity: 0;
  transform: scale(1.5);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: scale(1);
  }

  // @media screen and (min-width: 768px) {
  //   transform: translateY(100px);

  //   &.aos-animate {
  //     transform: translateY(0);
  //   }
  // }
}

[data-aos="hero-tittle"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }
}

// swipe-back
[data-aos="swipe-back"] {
  color: transparent;
  transition-property: color;

  &.aos-animate {
    color: #c0bcb9;
  }
}

// last
[data-aos="last-text"] {
  color: transparent;
  transform: translateY(100px);
  transition-property: color, transform;

  &.aos-animate {
    color: currentColor;
    transform: translateY(0px);
  }
}