<div *ngIf="blogDataId$ | async as DataId">
  <!-- <pre>
    {{DataId | json}}
  </pre> -->
  <!-- BLOG PAGE VIEW -->
  <div class="View">
    <div class="View-hero" >
      <img class="View-hero-img" data-aos="new" data-aos-easing="ease-in-cubic" src="../../assets/images/banner.jpg" alt="">
    </div>
    

    <!-- <div class="card-image"><img [src]="DataId.fields.heroImg.fields.file.url" alt=""></div>
    <div class="card-tittle">{{DataId.fields.heroHead}}</div>
    <a [routerLink]="[]">view page</a> -->
  </div>

</div>